#h2-theme {
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
}

#game span {
    color: #FF0072
}

#question-container {
    width: 60vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

#game p  {
    margin-top: 2%;
    align-self: center;
    font-size: 24px;
}

#answers-container {
    margin-top: 2%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.answer {
    padding: 20px;
    font-size: 22px;
    background: rgba(37,54,161, 0.3); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 95%;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.answer:hover {
    scale: 1.03
}

#button-container{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#correct {
    background-color: green;
}

#incorrect {
    background-color: red;
}

/* RESPONSIVIDADE CELULAR */
@media screen and (max-width: 600px) {
  #question-container {
    width: 90vw;
  }

  .answer {
    font-size: 16px;
  }

  #button-container {
    margin-top: 4%;
  }
}