@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 12vh;
    background-color: #141619;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

nav {
    flex-basis: 30vw;
}

#logo {
    display: flex;
    align-items: center;
    font-family: "Cedarville Cursive";
    font-size: 40px;
    padding-left: 3%;
}

#logo * {
    font-family: "Cedarville Cursive", cursive;

}

#logo span {
    color: #FF0072
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 22px;
}

li {
    cursor: pointer;
}

img {
    width: 55%;
}

  
  /* RESPONSIVIDADE CELULAR */
  @media screen and (max-width: 600px) {
    #logo {
        font-size: 30px;
    }

    nav {
        flex-basis: 50vw;
    }

    ul {
        gap: 30px;
        font-size: 18px;
    }
  }